<ng-include src="'partials/header.html'" ng-controller="gifCtrl"></ng-include>

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GifTag</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	</head>
<body>

	<div class="jumbotron">
		<p>Upcoming holiday</p>
		<a ng-href="#/gifPage/{{holidays[0][0].name}},true" class="thumbnail"> {{holidays[0][0].date.slice(5,length)}} {{holidays[0][0].name}}</a>
	</div>

	<div class="container">
		<!--<div ng-repeat="holiday in holidays">
			<div class="col-xs-6 col-md-3">
				<!--<div style="background-image: url({{homePageGifs[holiday[0].name]}}); position: relative;">
					
					<a ng-href="#/gifPage/{{holiday[0].name}},true">
					<img ng-src="{{homePageGifs[holiday[0].name]}}">
					<h3 style="text-align: center; color: black;">
						{{holiday[0].date.slice(5,length)}} 
						{{holiday[0].name}}
					</h3>
					</a>
				
			</div>
		</div>  -->
		
		<div class="col-xs-3 col-md-3">
			<div ng-repeat="holiday in Col_1" style="padding: 1px;">
				<a ng-href="#/gifPage/{{holiday[0].name}},true">
					<div style="background: black; opacity: 0.5; position: relative; z-index: 2;">
					<h3 style="text-align: center; color: white; position: absolute; z-index: 3;">
						{{holiday[0].date.slice(5,length)}} 
						{{holiday[0].name}}
					</h3>
					<img ng-src="{{homePageGifs[holiday[0].name]}}" style="position: relative; z-index: 1; opacity: 0.5"/>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-3 col-md-3">
			<div ng-repeat="holiday in Col_2" style="padding: 1px;">
				<a ng-href="#/gifPage/{{holiday[0].name}},true">
					<h3 style="text-align: center; color: black;">
						{{holiday[0].date.slice(5,length)}} 
						{{holiday[0].name}}
					</h3>
					<img ng-src="{{homePageGifs[holiday[0].name]}}"/>
				</a>
			</div>
		</div>
		<div class="col-xs-3 col-md-3">
			<div ng-repeat="holiday in Col_3" style="padding: 1px;">
				<a ng-href="#/gifPage/{{holiday[0].name}},true">
					<h3 style="text-align: center; color: black;">
						{{holiday[0].date.slice(5,length)}} 
						{{holiday[0].name}}
					</h3>
					<img ng-src="{{homePageGifs[holiday[0].name]}}"/>
				</a>
			</div>
		</div>
		<div class="col-xs-3 col-md-3">
			<div ng-repeat="holiday in Col_4" style="padding: 1px;">
				<a ng-href="#/gifPage/{{holiday[0].name}},true">
					<h3 style="text-align: center; color: black;">
						{{holiday[0].date.slice(5,length)}} 
						{{holiday[0].name}}
					</h3>
					<img ng-src="{{homePageGifs[holiday[0].name]}}"/>
				</a>
			</div>
		</div>
		
	</div>
		
		


	</body>
</html>
