<ng-include src="'partials/header.html'" ng-controller="gifCtrl"></ng-include>
<div ng-init="init()"></div>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SuperGif</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
</head>

<body>
	<div class="jumbotron">
        <span ng-repeat="tag in tagList">
            <a ng-href="#/gifPage/{{tag}}+holiday,true">
                <span style="font-size: 20px;">#{{tag}}</span>
            </a>
	    </span>
    </div>
	<div class="container text-center">
		<img ng-src="{{gif.images.original.url}}" style="width: 500px;"/>
	</div>
    <div style="text-align: center">
        </br>
        <span ng-if="!checkIfGifInFavorites(gif.images.fixed_width.url)" ng-click="addToFavorite(gif.images.fixed_width.url)" class="glyphicon glyphicon-heart" type="button" style="position: absoulte; z-index: 2;"></span>
        <span ng-if="checkIfGifInFavorites(gif.images.fixed_width.url)" ng-click="removeGif(gif.images.fixed_width.url)" class="glyphicon glyphicon-remove-circle" type="button"></span>
    </div>
</body>

</html>
